@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0B131E;
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0B1726;
}
::-webkit-scrollbar-thumb {
  background: #1E3A5F;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #007A87;
}
